@charset "utf-8";
/* CSS Document */

/* SHOWHIDE */

.bms-sh-moreinfo {
	display: none;
	margin: 0;
	padding: 0;
}
.bms-sh-label {
	padding: 0;
	margin: 0;
	/* height: 15px; */
}
.bms-sh-label .bms-sh-is_open .bms-sh-more {
	display: none;
}
.bms-sh-label .bms-sh-less {
	display: none;
}
.bms-sh-label .bms-sh-is_open .bms-sh-less {
	display: block;
}
.bms-sh-readmore {
	margin-top: -10px;
	margin-bottom: 10px;
}
